body{
    background: rgb(0,125,255);
    background: radial-gradient(circle, rgba(0,125,255,1) 0%, rgba(30,33,115,1) 100%);
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    color: rgba(30,33,115,1);
}

h2.naveg{
    color: rgba(30,33,115,1);
}
h2.naveg:hover{
    color: rgb(0,125,255);
    text-decoration: underline;
}

h1{
    font-size: 50px;
    color: white;
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.tienda{
    width: 400px;
    height: 510px;
    padding:10px;
    margin:15px;
    border-radius: 30px;
    background-color: white;
    color: black;
}

div img.tienda{
    height:400px;
    width:400px;
    margin:5px;
}

div.tienda:hover{
    background-color: rgb(206, 206, 206);
}